<h1><%=@athlete.name%></h1>
<h3><%=@athlete.birth_date%></h3>

<div class="tabbable span:1">
	<ul id="swim_style_selector_list" class="nav nav-pills">
		<li class="active"><a href="<%=params[:id]%>" data-toggle="tab">All</a></li>
	  <% for ss in @swim_styles%>
	  	<li id = "swim_style_selector_<%=ss.id%>" class><a href="<%=params[:id]%>?swim_style=<%=ss.id%>" data-toggle="tab"><%=ss.to_s%></a></li>
	  <%end%>
	</ul>

	
</div>

<div id="results_table"><%=render 'results'%></div>

<script type='text/javascript'>
	$(function() {
	
  $(".label").popover();
});
</script>