<!DOCTYPE html>
<html>
<head>
  <title>Swimcharts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>


  <%= javascript_include_tag 'jquery.min', 'highcharts', 'bootstrap', 'bootstrap-tooltip','bootstrap-popover','typeahead'%>

<!--[if IE]>
    <%= javascript_include_tag 'excanvas.compiled' %>
<![endif]-->



</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SWIMCHARTS</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Athletes", athletes_path%></li>
              <li><%= link_to "Results", results_path%></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-top:60px;">
		<%= yield %>
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>-->

<script type='text/javascript'>
$(function() {

  $("#athletes_list th a").live("click", function() {
    $.getScript(this.href);
    return false;
  });

  $("#athletes_search input").keyup(function() {
    $.get($("#athletes_search").attr("action"), $("#athletes_search").serialize(), null, "script");
    return false;
  });

  $("#swim_style_selector_list a").live("click",function(event) {
   // alert("Hello");
    $.getScript(this.href);
    $(".active").toggleClass("active");
    $(this).parent().toggleClass("active");
    return false;
  });

  $("#athlete-search-typeahead").typeahead({
    ajax: {
        url: "/athletes/typeahead",
        timeout: 500,
        displayField: "name",
        triggerLength: 1,
        method: "get",
        loadingClass: "loading-circle",
        preDispatch: function (query) {
            showLoadingMask(true);
            return {
                search: query,
                otherParam: 123
            }
        },
        preProcess: function (data) {
            showLoadingMask(false);
            if (data.success === false) {
                // Hide the list, there was some error
                return false;
            }
            // We good!
            return data.mylist;
        }
    }
});

});
</script>

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    };
    </script>
    
</body>
</html>
